name: Build Test Coverage
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'adopt'
    - name: Install xvfb for headless testing
      run: sudo apt-get install xvfb
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: xvfb-run --auto-servernum ./gradlew build
    - name: Codecov
      uses: codecov/codecov-action@v5
      env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
